.button-main {
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 162.5%;
    letter-spacing: 2.3px;
    background: none;
    border: none;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #4EE1A0;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
    transition: all 200ms ease-in;
    width: fit-content;
}

.button-main:hover {
    color: #4EE1A0;
}
